@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Consultant Details";
}

<h2>Consultant Details</h2>

<div>
    <dl>
        <dt>Id</dt>
        <dd>@Model.Id</dd>
        <dt>First Name</dt>
        <dd>@Model.FirstName</dd>
        <dt>Speciality</dt>
        <dd>@Model.Speciality</dd>
    </dl>
</div>
}
